<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>email <%= @review.email if @review.email %></h1>
    <p>
      name: <%= @review.name %>.<br>
    </p>
    <p>
      message: <%= @review.message %>.
    </p>
    <p>logo: <%#= image_tag 'public/castle.jpg' %></p>
  </body>
</html>